<!--<h1><#%= @smenu.sname %> Show</h1>-->
<p><%= @smenu.sname %> <%= render "menu" %></p>
TEST START
<h1><%= @smenu.sname %></h1>

<div>
  <%#= form_for (:contents) do |f| %>
  <%= form_for (:sm_content) do |f| %>
    <div class="actions">
      <%= f.text_field :title, placeholder: "Title", class: "span13", style: "min-width:200px" %>
    </div>
    <div class="actions">
      <%= f.text_area :content, placeholder: "Content text", class: "span13", style: "min-width:200px" %>
    </div>

		<%= f.fields_for (:testoptions) do |af| %>
      <div class="actions">
        <%#= af.file_field :option %>
        <%= af.text_field :option %>
      </div>
		<% end %>

    <div class="actions">
      <%= f.submit "Create", class: "btn" %>
    </div>
  <% end %>
</div>

<%= will_paginate @smenu.sm_contents.paginate(page: params[:page], :per_page => 2) %>

<% @smenu.sm_contents.paginate(page: params[:page], :per_page => 2).each do |c| %>
	<div class="well-box-my">
    <div class="well-head-my"><h2><%= c.title %></h2></div>
	  <div class="well-center-my">
      <p class="tweet-text"><%= c.content %></p>

		  <p><%= c.attache %></p>
      <p><%= link_to "learn more", sm_content_path(c), class: "btn btn-primary", :method => :get %></p>
		</div>
		<div class="well-foot-my"><%= time_ago_in_words c.updated_at %></div>
	</div>
<% end %>

<%= will_paginate @smenu.sm_contents.paginate(page: params[:page], :per_page => 2) %>