find me in submenus/show.html.erb
<p><%= @smenu.sname %> <%= render "menu" %></p>
TEST START
<h2><%= @smenu.sname %></h2>

<div>
  <div class="actions">
    <p><%= link_to "Add Content", new_sm_content_path(:id => @smenu) %></p>
  </div>
</div>

<%= will_paginate @smenu.sm_contents.paginate(page: params[:page], :per_page => 6) %>

<% @smenu.sm_contents.paginate(page: params[:page], :per_page => 6).each do |c| %>
  <div class="well-box-my">
    <div class="well-center-my">
      <div class="text-block">
        <div class="text-image-gradient"></div>
        <h3><%= c.title %></h3>
        <%= c.content.html_safe %>
      </div>

      <p>
        <ol class="file-list">
	        <% @assets = get_assets(c) %>
          <% @assets.each_with_index do |opt,n| %>
            <li>
              <%#= link_to image_tag(asset_fields.object.asset.url(:thumb)), asset_fields.object.asset.url(:original) %>
              <%#= link_to opt.asset_file_name, opt.asset.url  %>
              <% if opt.asset_content_type == 'application/pdf' %>
                <%= link_to opt.asset_file_name, download_pdf_path(opt.id)  %>
              <% end %>

              <% if opt.asset_content_type == 'application/zip' %>
                <%= link_to opt.asset_file_name, download_pdf_path(opt.id)  %>
              <% end %>

              <% if opt.asset_content_type == 'application/doc' %>
                <%= link_to opt.asset_file_name, download_pdf_path(opt.id)  %>
              <% end %>

              <% if opt.asset_content_type == 'image/jpg' %>
                <%= link_to opt.asset_file_name, download_pdf_path(opt.id)  %>
              <% end %>

              <% if opt.asset_content_type == 'text/plain' %>
                <%= link_to opt.asset_file_name, download_txt_path(:asset_id => opt.id)  %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </p>
      <p><%= link_to "learn more", sm_content_path(c), class: "btn btn-primary" %></p>
    </div>
    <div class="well-foot-my"><%= time_ago_in_words c.updated_at %></div>
  </div>
<% end %>

<%= will_paginate @smenu.sm_contents.paginate(page: params[:page], :per_page => 6) %>