<h3><%= @smc.title %> Edit</h3>

<%= tinymce %>

<%= form_for @smc, html: { multipart: true } do |f| %>
  <% if @smc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@smc.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @smc.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :submenu_id, type: "hidden", value: @smc.submenu_id %>
    <%= f.text_field :title, placeholder: "Title", class: "span13", style: "min-width:200px", :text => @smc.title %>
  </div>
  <div class="actions">
    <%= f.text_area :content, placeholder: "Content text", :class => "span13 tinymce", style: "min-width:200px", :text => @smc.content %>
  </div>


  <p>
    <%#= f.fields_for :assets do |asset_fields| %>
      <%#= f.text_field :submenu_id, type: "hidden", value: @smc.submenu_id %>
    <!--<div class="actions"><%#= asset_fields.file_field :asset, :multiple => true, :name => 'sm_content[assets_attributes][][asset]' %></div> -->
  <%# end %>

<!--

  <h4>New Files</h4>
  <div class="actions">

    <%#= f.fields_for :assets do |asset_fields| %>
      <%# if asset_fields.object.new_record? %>
        <p><%#= asset_fields.file_field :asset, multiple: true %></p>
      <%# end %>
    <%# end %>

  </div>

  <h4>Old Files</h4>
  <div class="actions">
    <%#= f.fields_for :assets do |asset_fields| %>
      <%# unless asset_fields.object.new_record? %>
        <div class="thumb">
          <%#= link_to asset_fields.object.asset_file_name, asset_fields.object.asset.url %>
          <%#= asset_fields.check_box :_destroy %>
        </div>
      <%# end %>
    <%# end %>
  </div> -->


  </p>

	<p>
    <div class="actions">
      <%= f.submit "Update", class: "btn" %>
    </div>
	</p>

  <p><h4>files</h4>
    <ol class="file-list">
      <% @smc.assets.each do |opt| %>
        <li><%= link_to opt.asset_file_name, opt.asset.url %></li>
      <% end %>
    </ol>
  </p>


  <p>
    <%= link_to "Add files", sm_content_add_assets_path(@smc), class: "btn btn-primary" %>
    <%= link_to "Delete files", sm_content_delete_assets_path(@smc), class: "btn btn-primary" %>
    <%= link_to "Delete", sm_content_path(:submenu_id => @smc.submenu_id), class: "btn btn-primary", :method => :delete %>
  </p>


<% end %>
