<h3><%= @smc.title %> Edit</h3>

<%#= tinymce %>

<%= form_for @smc, html: { multipart: true } do |f| %>
  <% if @smc.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h3><%= pluralize(@smc.errors.count, "error") %> prohibited this post from being saved:</h3>

      <ul>
        <% @smc.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% else %>

  <div class="actions">
    <%= f.text_field :submenu_id, type: "hidden", value: @smc.submenu_id %>
    <%= f.text_field :title, placeholder: "Title", class: "span13", style: "min-width:200px", :text => @smc.title %>
  </div>


  <!--<div class="actions">
    <%#= f.text_area :content, placeholder: "Content text", :class => "tinymce", style: "min-width:200px;", :text => @smc.content %>
  </div>-->

  <div class="actions" style="border-bottom-right-radius:2px; border-top-right-radius: 2px;">
    <%= f.text_area :content, placeholder: "Content text", :id => "some-textarea", :class => "wysihtml5" %>

    <script type="text/javascript">
	    $(document).ready(function(){

		    $('.wysihtml5').each(function(i, elem) {
		      $(elem).wysihtml5();
        });

	    })
    </script>
  </div>



	<p>
    <div class="actions">
      <%= f.submit "Сохранить", class: "btn" %>
    </div>
	</p>
	<% end %>


<% end %>
