<h3><%= @smc.title %> Edit</h3>

<%= tinymce %>

<%= form_for @smc, html: { multipart: true } do |f| %>
  <% if @smc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@smc.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @smc.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :submenu_id, type: "hidden", value: @smc.submenu_id %>
    <%= f.text_field :title, placeholder: "Title", class: "span13", style: "min-width:200px", :text => @smc.title %>
  </div>
  <div class="actions">
    <%= f.text_area :content, placeholder: "Content text", :class => "tinymce", style: "min-width:200px; border-right: 1px solid #999;", :text => @smc.content %>
  </div>



	<p>
    <div class="actions">
      <%= f.submit "Update", class: "btn" %>
    </div>
	</p>


<% end %>
