<%= form_for @smc, :html => { :multipart => true } do |f| %>
<div class="actions">
  <%= f.text_field :submenu_id, type: "hidden" %>
  <%= f.text_field :title, placeholder: "Title", class: "span13", style: "min-width:200px" %>
</div>
<div class="actions">
  <%= f.text_area :content, placeholder: "Content text", class: "span13", style: "min-width:200px" %>
</div>

<%= f.fields_for :testoptions do |testoptions_fields| %>
<div class="actions">
  <%#= af.file_field :option %>
  <%= testoptions_fields.file_field :upload %>
</div>
<% end %>

<div class="actions">
  <%= f.submit "Create", class: "btn" %>
</div>
<% end %>