<%= form_for (:sm_contents) do |f| %>
<div class="actions">
  <%= f.text_field :title, placeholder: "Title", class: "span13", style: "min-width:200px" %>
</div>
<div class="actions">
  <%= f.text_area :content, placeholder: "Content text", class: "span13", style: "min-width:200px" %>
</div>

<%= f.fields_for :testoptions do |testoptions_fields| %>
<div class="actions">
  <%#= af.file_field :option %>
  <%= testoptions_fields.text_field :option %>
</div>
<% end %>

<div class="actions">
  <%= f.submit "Create", class: "btn" %>
</div>
<% end %>