<%# breadcrumb :submenus, @submenus_path %>

<div class="well-box-my">
  <div class="well-center-my">
    <div class="text-block-full">
      <div class="text-image-gradient2"></div>
      <h3><%= @smc.title %></h3>
      <%#= raw @smc.content %>
	    <div class="text-block-full">
        <%= @smc.content.html_safe %>
		  </div>
    </div>

	  <p>
		  <ol class="file-list">
		    <% @smc.assets.each do |opt| %>
		      <li>
		        <%= link_to opt.asset_file_name, download_file_path(:asset_id => opt.id) %>
		      </li>
		    <% end %>
			</ol>
	  </p>


    <p>
      <%= link_to "Edit text", edit_sm_content_path(@smc), class: "btn btn-primary" %>
      <%= link_to "Add files", new_sm_content_asset_path(@smc), class: "btn btn-primary" %>
      <%= link_to "Delete files", sm_content_edit_assets_path(@smc), class: "btn btn-primary", :method => :get %>
      <%= link_to "Delete All", sm_content_path, class: "btn btn-danger", :method => :delete, :confirm => "Вы уверены что хотите удалить эту статью полностью?" %>
    </p>

  </div>
  <div class="well-foot-my"><%= time_ago_in_words @smc.updated_at %></div>
</div>