<%# breadcrumb :submenus, @submenus_path %>

<div class="well-box-my">
  <div class="well-center-my">
    <div class="text-block-full">
      <div class="text-image-gradient2"></div>
      <h3><%= @smc.title %></h3>
      <%= raw @smc.content %>
    </div>

	  <p>
		  <ol class="file-list">
		    <% @smc.assets.each do |opt| %>
		      <li>
		        <%#= link_to image_tag(asset_fields.object.asset.url(:thumb)), asset_fields.object.asset.url(:original) %>
		        <%= link_to opt.asset_file_name, opt.asset.url %><%#= opt.asset_file_name %>
		      </li>
		    <% end %>
			</ol>
	  </p>

    <p>
      <%= link_to "Files", sm_content_assets_path(@smc), class: "btn btn-primary", :method => :get %>
      <%= link_to "edit", edit_sm_content_path(:submenu_id => @smc.submenu_id), class: "btn btn-primary", :method => :get %>
      <%= link_to "delete", sm_content_path(:submenu_id => @smc.submenu_id), class: "btn btn-primary", :method => :delete %>
    </p>

  </div>
  <div class="well-foot-my"><%= time_ago_in_words @smc.updated_at %></div>
</div>