<h3>Home page</h3>

<%= will_paginate @allcontent.paginate(page: params[:page], :per_page => 6), :previous_label => " « ", :next_label => " » " %>

<% @allcontent.paginate(page: params[:page], :per_page => 6).each do |c| %>
  <section id="sm_contents_<%= c.id %>" class="section_content_block">
    <div class="well-foot-my">
      <%= time_ago_in_words c.updated_at %> <br/>
    </div>

    <div class="content-block">

      <div class="text-block">
        <div class="text-image-gradient"></div>
        <h4 style="border-bottom:1px solid #ededed; padding-bottom:10px" class="text"><%#= c.title %><%= link_to c.title, sm_content_path(c) %></h4>

        <div class="text-block-full">
          <%= c.content.html_safe %>
        </div>

      </div>



      <% @assets = get_assets(c) %>
	    <% if @assets.count > 0 %>

        <div class="accordion" id="sm_contents_accordion_<%= c.id %>" style="padding-left: 10px; padding-right: 10px; padding-top:20px; padding-bottom: 0px; margin-bottom: 0px">
          <div class="accordion-group">
            <div class="accordion-heading">
              <div class="accordion-toggle" data-toggle="collapse" data-parent="#sm_contents_accordion_<%= c.id %>" onclick="js_show('#sm_contents_files_<%= c.id %>')">
                <span style="color:#3399ff; font-size: 13px;">показать файлы</span>
              </div>
            </div>

            <div id="sm_contents_files_<%= c.id %>" class="dropdown_box">
              <div class="accordion-inner">


                <ul class="file-list">
                  <% @assets.each_with_index do |opt,n| %>
                    <% if n % 2 == 0 %>
                      <li class="file-line"><span><%= link_to opt.asset_file_name, download_file_path(:asset_id => opt.id) %></span></li>
                    <% end %>
                  <% end %>
                </ul>

                <ul class="file-list">
                  <% @assets.each_with_index do |opt,n| %>
                    <% if n % 2 != 0 %>
                      <li class="file-line"><span><%= link_to opt.asset_file_name, download_file_path(:asset_id => opt.id) %></span></li>
                    <% end %>
                  <% end %>
                </ul>


              </div>
            </div>

          </div>
        </div>
		  <% end %>




      <p class="well-foot-my02">
        <%= link_to "показать полностью", sm_content_path(c) %>
        |
        <%= link_to "перейти к обсуждению", comment_path(c) %> (<%= c.comments.count %>)
      </p>
    </div>
    <!--<div class="well-foot-my"><%#= time_ago_in_words c.updated_at %></div>-->

  </section>
<% end %>

<%= will_paginate @allcontent.paginate(page: params[:page], :per_page => 6), :previous_label => " « ", :next_label => " » " %>


<!--
<div class="well-box-my">
    <div class="well-center-my">

      <div class="text-block">
        <div class="text-image-gradient"></div>
        <h3><%#= c.title %></h3>

        <div class="text-block-full">
          <%#= c.content.html_safe %>
        </div>

      </div>

	    <p>
		    <ol class="file-list">
			    <%# @assets = get_assets(c) %>
<%# @assets.each_with_index do |opt,n| %>
            <li>
              <%#= link_to image_tag(asset_fields.object.asset.url(:thumb)), asset_fields.object.asset.url(:original) %>
  <%#= link_to opt.asset_file_name, opt.asset.url  %>
  <%#= link_to opt.asset_file_name, download_file_path(:asset_id => opt.id) %>

            </li>
          <%# end %>
			  </ol>
	    </p>
      <p><%#= link_to "learn more", sm_content_path(c), class: "btn btn-primary" %></p>
    </div>
    <div class="well-foot-my"><%#= time_ago_in_words c.updated_at %></div>
  </div>
-->



