<%# breadcrumb :home, @home_path %>
<%= tinymce_assets %>
<%= tinymce %>

<h1>Home page</h1>

<%= will_paginate @allcontent.paginate(page: params[:page], :per_page => 6) %>

<% @allcontent.paginate(page: params[:page], :per_page => 6).each do |c| %>
  <div class="well-box-my">
    <div class="well-center-my">

      <div class="text-block">
        <div class="text-image-gradient"></div>
        <h3><%= c.title %></h3>
        <%= raw c.content %>
      </div>

	    <p>
		    <ol class="file-list">
			    <% @assets = get_assets(c) %>
	        <% @assets.each_with_index do |a,n| %>
            <li><%= link_to a.asset_file_name, a.asset.url %></li>
          <% end %>
			  </ol>
	    </p>
      <p><%= link_to "learn more", sm_content_path(c, submenu_id: c.submenu_id ), class: "btn btn-primary", :method => :get %></p>
    </div>
    <div class="well-foot-my"><%= time_ago_in_words c.updated_at %></div>
  </div>
<% end %>

<%= will_paginate @allcontent.paginate(page: params[:page], :per_page => 6) %>