<%# breadcrumb :mainmenuindex, genmenus_path %>



<table class="table table-bordered" style="max-width:600px;">

  <thead>
    <tr>
      <th colspan="2" style="text-align: center"><h5>Main menu list</h5></th>
    </tr>
  <tr>
    <th>Name</th>
    <th>Options</th>
  </tr>
  </thead>
  <tbody>
  <% @gmenus.each do |gmenu| %>
    <tr>
      <td style="min-width:150px;"><%= link_to gmenu.genmenuname, gmenu %></td><td><%= render "menu", { :gmenu => gmenu } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>Create new main menu</p>

<%= form_for Genmenu.new do |f| %>
  <div class="input-append actions">
    <%= f.text_field :genmenuname, placeholder: "main menu name", class: "span2", style: "min-width:200px" %>
    <%= f.submit "Create", class: "btn" %>
  </div>
<% end %>