<% @users.each do |user| %>

	<div style="display:inline-block; width:100%;">
	  <div style="display:inline-block; width:35%;"><%= link_to user.name + ", " + user.email, user_path(user) %></div>
			<% if (signed_in? and current_user?(user)) or admin?(current_user) %>
	      <!--<div>-->
	        <div style="width:50px; background:#3399ff;display:inline-block;">
	          <%= link_to "Edit", "#" %>

		      </div>

	        <div style="width:100px; background:#3399ff; display:inline-block;">
	          <%= link_to "Delete user", user_path(user), method: :delete %>

		      </div>

	        <div style="width:100px; background:#3399ff; display:inline-block;">
		        admin? <%= admin?(user) %>

		      </div>

	        <div style="width:140px; background:#3399ff; display:inline-block;">
	          current_user? <%= current_user?(user) %>
		      </div>
	      <!--</div>-->
			<% end %>
	</div>

<% end %>