<h4>Add files to <%= link_to @smc.title, @smc %></h4>

<p>
	<ol class="file-list">
    <% @assets.each do |opt| %>
      <li>
        <%= link_to opt.asset_file_name, opt.asset.url %><%#= opt.asset_file_name %>
      </li>
    <% end %>
	</ol>
</p>

<p>
  <%= form_for :assets, html: { multipart: true } do |f| %>
    <%= f.text_field :sm_content_id, type: "hidden", value: @smc.id %>

  <p>
    <div class="actions">
      <%= f.file_field :asset, :multiple => true, :name => 'sm_content_assets[assets][][asset]' %>
    </div>
  </p>

  <div class="actions">
    <%= f.submit "Add files", class: "btn" %>
  </div>
	<% end %>
</p>