<h4>New asset for <%= link_to @sm_content.title, sm_content_path(@sm_content) %></h4>

<p>
	<ol class="file-list">
		<% @asts = get_assets(@sm_content) %>
    <% @asts.each do |opt| %>
      <li><%= link_to opt.asset_file_name, opt.asset.url %></li>
    <% end %>
	</ol>
</p>

<%= form_for @sm_content, :html => { multipart: true } do |f| %>

  <div class="actions">
    <%= f.fields_for :assets do |asset_fields| %>
      <% if asset_fields.object.new_record? %>
        <p><%= asset_fields.file_field :asset, multiple: true#, :name => 'sm_content[assets_attributes][][asset]'
        %></p>
      <% end %>
    <% end %>
  </div>

  <h4>Old Files</h4>
  <div class="actions">
    <%= f.fields_for :assets, :html => { multipart: true } do |asset_fields| %>
      <% unless asset_fields.object.new_record? %>
        <div class="thumb">
          <%= asset_fields.object.asset_file_name %>
          <%#= link_to image_tag(asset_fields.object.asset.url(:thumb)), asset_fields.object.asset.url(:original) %>
          <%= asset_fields.check_box :_destroy#, :name => 'assets_attributes[id][_destroy]'
          %>
        </div>
      <% end %>
    <% end %>
  </div>

	<p>
    <div class="actions">
      <%= f.submit "Create files", class: "btn" %>
    </div>
	</p>
<% end %>