<h4>Добавление файлов для статьи <%= link_to @sm_content.title, sm_content_path(@sm_content) %></h4>

<p>
	<ol class="file-list">
		<% @asts = get_assets(@sm_content) %>
    <% @asts.each do |opt| %>
      <li><%= link_to opt.asset_file_name, download_file_path(:asset_id => opt.id) %></li>
    <% end %>
	</ol>
</p>

<%= form_for @sm_content, :html => { multipart: true } do |f| %>

  <div class="actions">
    <%= f.fields_for :assets do |asset_fields| %>
      <% if asset_fields.object.new_record? %>
        <p><%= asset_fields.file_field :asset, multiple: true, :name => 'sm_content[assets_attributes][][asset]'
        %></p>
      <% end %>
    <% end %>
  </div>

	<p>
    <div class="actions">
      <%= f.submit "Добавить файлы", class: "btn" %>
    </div>
	</p>
<% end %>