<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TEST APP", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Admin Tools", admintools_path %></li>
        </ul>

        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>

        <%#= render 'layouts/genmenu' %>
        <%= render 'layouts/genmenu2' %>

      </nav>
    </div>
  </div>
</header>