<!DOCTYPE html>
<html>
<head>
  <meta content="text/html" charset="utf-8">
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= tinymce_assets %>
  <%= render 'layouts/shim' %>
</head>
<body style="background:#ffffff;">

	<%= render 'layouts/header' %>

	<div class="wrap container-fluid" style="margin-bottom:220px; background:#ffffff">

		<div class="row-fluid">

		  <%= render "layouts/leftbar" %>

	    <div class="span6" style="background:#FFF; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;">
	      <ol class="breadcrumb">
	        <%= render_breadcrumbs :tag => :li, :separator => " <span class=\"breadcrumb-separator\"> » </span> " %>
	      </ol>

	      <% flash.each do |key, value| %>
	        <div class="alert alert-<%= key %>"><%= value %></div>
	      <% end %>

	      <%= yield %>
	    </div>

		  <!--<div class="span3">
		    <div class="well sidebar-nav">
		      <ul class="nav nav-list">
		        <li class="nav-header">Sidebar</li>
		        <li class="active"><a href="#">Link</a></li>
		        <li><a href="#">Link</a></li>
		        <li><a href="#">Link</a></li>
		        <li><a href="#">Link</a></li>
		      </ul>
		    </div>
		  </div> -->

		</div>

	</div>


	<div class="navbar navbar-fixed-bottom" style="z-index: -1; background:#000000; padding-left:20px; padding-right:20px;">
		<%= render 'layouts/footer' %>
	</div>

</body>
</html>